#mySlideshow.carousel.slide
  .carousel-inner
    .item
      %img
      .container
        .carousel-caption
          %h1 Download our App
          %p.lead More text
          =link_to "Download", "/", class: "btn btn-large btn-primary"
