/ Carousel
#mySlideshow.carousel.slide
  -#%ol.carousel-indicators
  -#  %li{data: {target: '#mySlideshow', "slide-to" => '0'}}
  -#  %li{data: {target: '#mySlideshow', "slide-to" => '1'}}
  -#  %li{data: {target: '#mySlideshow', "slide-to" => '2'}}
  .carousel-inner
    .item.active
      =image_tag 'slide1.jpg'
      .container
        .carousel-caption
          %h1 Evolutionary MotiFit App
          %p.lead This App will motivate you to be more active and enjoy your life
          =link_to "Download Now", "/", class: "btn btn-large btn-primary pull-right"
    .item
      =image_tag 'slide2.jpg'
      .container
        .carousel-caption
          %h1 Register Today
          %p.lead Join to a vibrate community today
          =link_to "Sign up", "/signup", class: "btn btn-large btn-primary pull-right"
    .item
      =image_tag 'slide3.jpg'
      .container
        .carousel-caption
          %h1.darker About Us
          %p.lead.darker  We are a passionate young enterprenours, please read more about us 
          =link_to "The Team", "/about", class: "btn btn-large btn-primary pull-right"
  =link_to raw("&lsaquo;"), '#mySlideshow', class: 'carousel-control left', data: {slide: 'prev'}
  =link_to raw("&rsaquo;"), '#mySlideshow', class: 'carousel-control right', data: {slide: 'next'}
