/ If javascript files are on the end of a page, the page download faster.
= javascript_include_tag 'jquery.min'
= javascript_include_tag 'jquery_ujs'
= javascript_include_tag "bootstrap.min.js"
= javascript_include_tag 'zoltan'